@font-face {
  font-family: Gilroy;
  src: url(Gilroy.ttf);
}
@font-face {
  font-family: Monument;
  src: url(MonumentExtended-Regular.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "Gilroy", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
}

#nav {
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h1 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monument";
  font-size: 45px;
  letter-spacing: -1px;
}
#nav h2 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
}
#nav h2:nth-last-child(2) {
  width: 29%;
  /* background-color: red; */
}

#nav h2:nth-last-child(1) {
  width: 10%;
  /* background-color: red; */
}

#center {
  height: 90%;
  width: 100%;
  /* background-color: red; */
  padding: 4vw;
  position: relative;
}
#content {
  height: 100%;
  width: 100%;
  background-color: blue;
  position: relative;
}
#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: #fff;
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}
#over1 h1 {
  font-family: "Monument";
  font-size: 3.6vw;
  mix-blend-mode: difference;
}
#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  /* background-color: blue; */
  border-radius: 50%;
  border: 1px solid #fff;
  border-bottom: 4px solid #fff;
}
#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}
#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}
#over2 img {
  height: 3vw;
}
